@charset "utf-8";
/* 아넥스컴바인 메인 페이지 미디어쿼리 - media.css */



/* 햄버거 메뉴안의 GNB메뉴 width 900px전에는 숨긴다*/
.gnb_ham {display: none;}

/* 데스크탑에서는 br태그 숨김 */
.br_block {display: none;}
.br_block_mo_500 {display: none;}

.br_block_mo {display: block;}

/* 데스크탑에서는 svg 모바일 이미지 숨기기 */
.svg_mo{display: none;}


@media only screen and (max-width:1470px) {
    .service_main .service_section1{display: block; width: 90%; margin:0 auto;}
    .section1_img{width: unset; margin-right: 0;}
    .section1_txt{margin-top: 4%;}
}





@media only screen and (max-width:1324px) {
   /* index.html */
    /*********** 헤더영역 ***********/
    .header_area {height: 60px; padding-right: 0;}
    .header_area .logo img {width: 220px;}
    .header_area .gnb {display: none;}

    /* 햄버거메뉴 */
    .bg-shadow {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.7);
        display: none;
        cursor: pointer;
    }
    .ham {position: relative;width: 70px;height: 100%;}

    #header .all_menu {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25px;
        height: 22px;
        z-index: 102;
    }
    #header .all_menu span {
        position: absolute;
        right: 0px;
        width: 100%;
        height: 3px;
        background-color: #000;
        transition: all 0.2s ease-in-out 0s;
    }
    #header.open .all_menu span {background-color: #000;}

    #header .all_menu span.am_top {top: 0;}
    #header .all_menu span.am_mid {top: 9px;}
    #header .all_menu span.am_bot {top: 18px;}

    #header .all_menu.on span.am_top {top: 13px;transform: rotate(45deg);}
    #header .all_menu.on span.am_mid {width: 0;}
    #header .all_menu.on span.am_bot {top: 13px;transform: rotate(-45deg);}

    /* 햄버거 메뉴안의 GNB */
    .gnb_ham {display: block;}
    #header .gnb_ham {
        position: absolute;
        top: 0px;
        right: -100%;
        height: 100vh;
        width: 500px;
        background-color: #Fff;
        transition: right 0.6s cubic-bezier(0.71, 0.29, 0.27, 0.94) 0s;
        z-index: 101;
    }
    #header.open .gnb_ham {right: 0px;font-size: 24px;}
    #header .gnb_ham .gnb2 {padding: 65px 35px 0;}

    /* 견적문의박스 */
    #header .gnb_ham .gnb2 .estimate_box {
        width: 100%;
        height: 70px;
        line-height: 70px;
        background: #00BAB3;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: bold;
    }
    
    #header .gnb_ham .gnb2 li {}
    #header .gnb_ham .gnb2 > li { border-bottom:1px solid #ddd;}
    #header .gnb_ham .gnb2 > li:last-child { border-bottom:none;}
    #header .gnb_ham .gnb2 .sub_cate_title { 
        display: grid;
        margin-left: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px;
        align-items: center;
    }
    #header .gnb_ham .gnb2 .sub_cate_title.company { grid-template-rows: 60px 60px;    }
    #header .gnb_ham .gnb2 .sub_cate_title.etc {padding:15px 0 0;}
   
    /* #header .gnb_ham .gnb2 .sub_cate_title li a{font-size:17px;} */

    #header .gnb_ham .gnb2 li a {display: inline-block;color: #000;font-weight: 700;text-align: right;}
    
    .categoty{padding: 15px 0;}
    .cate_title{font-weight: bold; color: #8B95A1;}






    /* 서브페이지 공통 */
    .introduce_wrap,
    .service_Intro_wrap, 
    .brand_wrap,
    .center_wrap,
    .service_wrap,
    .consultant_wrap,
    .estimate_wrap,
    .review_wrap,
    .userguide_wrap,
    .event_wrap
    {margin-top:60px;}
    




    /* 체크리스트 이미지 */
    .checklist_pc{display:none;}
    .checklist_mo{display:block;}
    #checklist_section .section_title h3{line-height: 1.3;}



    /************ service.html ************/
    /* 4.풀필먼트 프로세스 */
   
 
}






@media only screen and (max-width:900px) {
    /* br태그 넣기 */
    .br_block {display: block;}
    

    /************ 메인배너 영역 ************/
    .mainban_txt_area .sub {
        display: inline-block;
        line-height: 1.5;
        margin-bottom: 20px;
        font-size: 38px;
    }
    .mainban_txt_area .txt {font-size: 50px;}


    /* 푸터 */
    .foot_logo {width: 200px;}





    /************* introduce.html.html *************/
    .introduce_wrap #introduce_section{background-color: #fff;}
    .introduce_wrap .section_listbox>div{box-shadow: 3px 3px 10px 1px rgb(0, 0, 0, 0.1);}




    /************ service_Intro.html ************/
    /* 97개 플랫폼 */
    #le-Table-1 th, #le-Table-1 td { padding: 10px;}





    /************* center.html *************/ 
    .map_wrap{display: unset;}
    .map_img{width:100%; margin-right: 40px; margin-bottom: 20px;}



    /************ service.html ************/
    /* 2. 장점 */
    #merit_section .bgcolor{padding: 100px 0;}
    #merit_section .bgcolor .section_area{display: unset; }
    .merit_section2_img{padding: 5% 0 0 0; text-align: center;}
    .merit_section2_img img{max-width: 100%;}
    .merit_section2_txt {width: 90%; margin: 0 auto; text-align: center;}

    /* 4.풀필먼트 프로세스 */

    /* 테블릿3개씩 */
    #fulfillment_section .process_tab_3{display: none;}
    /* 테블릿2개씩 */
    #fulfillment_section .process_tab_2{display: block;}
 


    /************ consultant.html ************/
    /* 섹션영역2 [하단 문의하기 배너] */
    #consultant_section2 .bgcolor{padding: 100px 0;}
    #consultant_section2 .section_area{display: unset;}
    .consultant_section2_img{padding: 0 0 5% 0; text-align: center;}
    .consultant_section2_img img{max-width: 100%;}
    .consultant_section2_txt {width: 90%; margin: 0 auto; text-align: center;}

}/************** max-width 900px 끝 *********************/








@media only screen and (max-width:625px) {
    /************ service_Intro.html ************/
    /* 97개 플랫폼 */
    /* 쇼핑몰리스트 전체 테이블 */
    #le-Table-1 {font-size: 2vw;}
    #le-Table-1 th, #le-Table-1 td { padding: 0.5vw;}
}









@media only screen and (max-width:500px) {
    @media (hover: hover) {
        #introduce_section .section_listbox>.icon_area:hover {
            background-color: #fff;
            color: #000;
        }
    }

    /************* 헤더영역 *************/
    /* 모바일사이즈에서 BR태그 빼기 */
    .br_block_mo {display: none;}
    
    /* 모바일사이즈에서 BR태그 넣기 */
    .br_block_mo_500 {display: block;}




    /************* GNB 햄버거 영역 *************/
    #header .gnb_ham {width: 100%;}

    /* 견적문의박스 */
    #header .gnb_ham .gnb2 .estimate_box {height: 50px; line-height: 50px; margin-bottom: 10px; font-size: 5.2vw;}
    #header.open .gnb_ham {font-size: 17px;}

    /* 햄버거 메뉴안의 GNB */
    .gnb_ham {display: block;}
    #header .gnb_ham {
        position: absolute;
        top: 0px;
        right: -100%;
        height: 100vh;
        
        background-color: #Fff;
        transition: right 0.6s cubic-bezier(0.71, 0.29, 0.27, 0.94) 0s;
        z-index: 101;
    }
    #header.open .gnb_ham {right: 0px;font-size: 5vw;}
    #header .gnb_ham .gnb2 {padding: 65px 20px 0;}
    #header .gnb_ham .gnb2 .sub_cate_title { 
        display: grid;
        margin-left: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40px;
        align-items: center;
    }
    #header .gnb_ham .gnb2 .sub_cate_title.company { grid-template-rows: 40px 40px;}
    #header .gnb_ham .gnb2 .sub_cate_title.etc {padding:15px 0 0;}
    .categoty{padding: 17px 0;}
 

    
   
  






    /************  index.html ************ /    
    /*1. 메인배너 */
    .mainban_txt_area .sub {
        display: inline-block;
        line-height: 1.3;
        margin-bottom: 20px;
        font-size: 7vw;
    }
    .mainban_txt_area .txt {font-size: 10vw;}
    .mainban_txt_area .txt_inner p{line-height: 1.3;}
    .button {font-size: 5vw; padding: 3vw; width: 50vw;}



    /************* 섹션 공통영역 *************/
    .section_area {padding: 15% 0;}
    .section_title {text-align: center;padding-bottom: 5%;}
    .section_title h3 {font-size: 5.5vw; line-height: 1;}
    .section_title h3::before{top:0;}
    .section_title h2 {font-size: 7.9vw; line-height: 11vw; margin: 4vw 0;}
    .section_listbox h4 {font-size: 6vw;}
    #introduce_section .section_listbox .icon_wrap{padding: 8%;}
    /* .section_listbox .icon_wrap {padding: 10%;} */

    /* consultant.html,userguide.html 에 사용  */
    .font_34{font-size: 6.2vw;;}




    
    /* 메인배너 견적문의하기 버튼 */
    .click_btn.main {width: 160px; height: 45px;}
    .click_btn.main .circle { display: none;}
    .click_btn.main .button-text {font-size: 20px; margin: 0; color:#fff;}
    .click_btn.main:hover .button-text {color: #fff;} 
    /* active 했을때 */
    .click_btn.main:active{background-color: #fff;}
    .click_btn.main:active .button-text{color:#000;}

    /* 버튼 공통 */
    .click_btn {width: 150px; height: 40px;}
    .click_btn .circle {display: none;}
    .click_btn .button-text {font-size: 5vw; margin:0; transition: none; color:#000; line-height: 1;}
    .click_btn:hover .button-text {color: #000;}
    /* active 했을때 */
    .click_btn:active{background-color: #000;}
    .click_btn:active .button-text{color:#fff;}
  




    /* 2. 체크리스트 */
    #checklist_section .section_area{padding:15% 0;}
    .checklist_txt{font-size: 6vw; padding-top:4vw;}





    /* 3. 리뷰슬라이드섹션 */
    #reviewSlideSection{padding: 15% 0;}
    #reviewSlideSection .sectionTitle {margin-bottom: 6vw; font-size: 8.9VW;}

    /* 파트너 이미지 첨가 후기 */
    .review_imageBox .icon_box .company{padding: 4px 12px;font-size: 4vw;}
    #reviewSlideSection .review_imageBox .item .score{font-size:5vw;}
    /*후기내용 글씨크기 공통*/
    #reviewSlideSection .item .textBox{font-size: 4.4vw;}

    /* 리뷰 슬라이드 */
    #reviewSlideSection #reviewSlider{height: 310px;}
    #reviewSlideSection #reviewSlider .sliderWrap {height: 305px;}
    #reviewSlideSection #reviewSlider .sliderWrap .item {height: 246px;}






    /*4. 아넥스컴바인스토리 */
    #introduce_section {background-color: #F8FAFF;}
    /* #introduce_section .section_area{padding: 10% 0 20%;} */
    .section_listbox p {font-size: 4.4vw;margin-top: 3%; letter-spacing: -0.99px;}
    .section_listbox>.icon_area {height: 100%;margin: 2%;transition: all 0.4s;}
   



    /* 5. 서비스안내 */
    #service_section .section_listbox>.icon_area{width:100%;}
    #service_section .section_listbox .icon_wrap{margin-bottom:4%;}
    #service_section .section_listbox .icon_area:last-child .icon_wrap:last-child {margin-bottom: 0;}
    


    /* 6. 아컴파트너 브랜드 사이트 로고 */
    #main_brand_section{padding-bottom: 15%;}
    #main_brand_section .section_area{padding:15% 0 0;}









    /************ 서브페이지 공통영역 ************/
    .introduce_wrap .section_area .section_title p,
    .service_wrap .section_area .section_title p,
    .brand_wrap .section_area .section_title p
    {font-size: 4.4vw;}

    #service_section .icon_txt{padding:8%;}

    /* 서브페이지 제목 아래 p태그 */
    .sub_wrap .section_area .section_title p{font-size: 4.4vw; padding: 4vw 0;}


    /************ introduce.html ************/
    .introduce_wrap .introduce_main .section_area{padding: 15% 0 0;}
    .introduce_main .section_area .section_title .sub{font-size: 5.5vw;}
    .svg_mo{display: block;}
    .svg_pc{display: none;}



    /************ service_Intro.html ************/
    .service_Intro_wrap .service_Intro_main .section_area{padding: 15% 0 0;}
    .service_Intro_main .section_area .section_title .sub{font-size: 5.5vw;}

    /* 97개 플랫폼 */
    /* 체크박스 테이블 */
    #Checkbox{margin:0 auto 5%;}
    #Checkbox td{font-size: 4vw; padding: 3vw;}
    /* 검색창 */
    .search_box{text-align: center;}

    /* 서비스이용절차 */
    .service_process_item .txt_box .h3{font-size: 6vw; margin: 15px 0;}
    .service_process_item .txt_box .comment{font-size: 4.4vw; }


   /************ center.html ************/ 
    .center_wrap .section_area{padding:15% 0;}
    .map_img{width:100%; margin-right: 40px;}
    .map_txt h2{ font-size: 6vw;}
    .map_txt h2::before{width: 18px;height: 25px;}
    .map_txt .addr{font-size: 5vw; padding: 5% 0;}



    /************ service.html ************/
    /* 풀필먼트 */
    .service_wrap .service_main .section_area {padding: 15% 0 0;}
    #fulfillment_section .section_listbox{ padding: 0 0 15%;}
    .section1_txt h2{font-size: 8.3vw; line-height: 11vw;}
    .section1_txt{margin-right: 0;}
    .section1_txt .Process_txt h3{font-size: 6vw;}
    .section1_txt .Process_txt li{margin-bottom: 10%;}
    .section1_txt .Process_txt li p{line-height:1.3;}


   /* 장점영역*/
   #merit_section .bgcolor{
    background: linear-gradient( -24deg, #79f2f2, #00bab3 );padding: 15% 5%; margin:15% 0;}
   .merit_section2_img{padding: 8% 5% 0 5%;}
  
   .merit_section2_txt {width: 90%; margin: 0 auto; text-align: center;}
   .merit_section2_txt h2{font-size: 8.2vw; line-height: 1.3;}
   .merit_section2_txt h4{font-size: 4.4vw; margin-bottom: 35px; margin-top: 10px;;}
   #merit_section .section_area.merit2{width: 90%; padding:0;}

   .section_listbox.process{margin: 15% 0;}


    /* 풀필먼트프로세스 */
    #fulfillment_section{padding-bottom:0;}
    .Process_mo .icon_area{padding: 3vw;}
    #fulfillment_section .section_listbox h4{font-size: 5vw;}
    #fulfillment_section .section_title{text-align: center;}
    #fulfillment_section .section_title h2{margin: 3vw 0;}
    #fulfillment_section .section_listbox .icon_wrap .icon_box{height:unset; line-height: unset;}




   /************ consultant.html ************/
   /* 셀러 컨설팅 메인영역 */
  
   #consultant_main .section_title h2{margin: 4vw 0 0;}
   .section_title h4{font-size: 5vw; line-height: 1.3; margin-top: 3vw;}

    /* 섹션영역1 [컨설팅제시] */
   #consultant_section .title{font-size: 7vw;line-height: 1.2; }
   .section_title h5{font-size: 4.3vw; margin-top:3vw;}


    /* 섹션영역2 [하단 문의하기 배너] */
    #consultant_section2 .bgcolor{background: linear-gradient(45deg, #79f2f2, #00bab3 );
        padding: 15% 5%;
    }
    #consultant_section2 .section_area{display: unset;}
    .consultant_section2_img{padding: 0 5% 2% 5%;}
   
    .consultant_section2_txt {width: 90%; margin: 0 auto; text-align: center;}
    .consultant_section2_txt h2{font-size: 6.2vw;}
    .consultant_section2_txt h4{font-size: 6vw; margin-bottom: 35px;}



    /*********** review.html ***********/
    .review_wrap .review_main .section_area{padding: 15% 0 0;}
    .review_wrap .review_main .section_title h2{letter-spacing:-1.3px!important;}
    .review_main .review_section1{background:rgba(0, 186, 180, 20%); padding: 0 20px;}
    .review_main .review_section1 img{padding: 15% 0 0;}
    .review_main .review_section1 .txt{padding: 0 0 15%; color:#00BAB3;font-size: 7.5vw;}





    /*********** userguide.html ***********/
    #userguide_main .section_title h2{margin: 4vw 0 0;}
    #guide_section .guide_area li{font-size: 5vw; padding:2.5vw;}
    #guide_section .guide_area li.flex_non div{font-size: 4.8vw;} 




    /************ estimate.html ************/ 
    #estimate_section .estimate_box {
        width: 100%;
        height: 60px;
        line-height: 60px;
        font-size: 7vw;
    }
    .contact{width: 100%; margin:0 auto; font-size: 5.5vw;}
    .contact:first-child{margin-bottom: 5%;}
    .contact li{float:none;}
    .contact li:nth-child(1){text-align:center; width:100%;}




    /************ event.html ************/
    .event_wrap .section_area{padding:15% 0;}
    .event_title h2{font-size: 4.4vw;}
    .event_title p{font-size: 3.4vw;}
    /************ event_article.html ************/
    .section_area.event_article{padding: 2% 0 15%;}
    .section_title.event_article h2{font-size: 5.5vw;line-height: 1; margin:0;}
    .article_date{font-size: 3.4vw;}
    
    .list_btn{
        width: 30vw;
        height: 40px;
        line-height: 40px;
        font-size: 4.5vw;
        margin-top: 10%;}












   /* 푸터 */
   .footer_area {padding: 5% 0;}
   .foot_logo {width: 180px;}
   .footer_info { font-size: 13px;}
   .footer_info p{display: block;}
   .copyright {font-size: 13px;}
   .space {display: none;}
}

/************** max-width 500px 끝 *********************/